* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  padding: 4vh 3vw;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0%;
  width: 100%;
}

nav h1 {
  font-size: 3vw;
  font-weight: 500;
}

nav h1 span {
  color: #00eb8f;
}

nav .navright ul {
  list-style-type: none;
  display: flex;
  gap: 2.5vw;
  align-items: center;
}

nav .navright ul li {
  font-size: 1.4vw;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid #00eb8f;
  }
}

.navright ul li:nth-last-child(1) {
  padding: 1vh 2vw;
  border: 1px solid black;
  border-radius: 2vw;
  overflow: hidden;
  position: relative;
}

.green {
  width: 100%;
  height: 100%;
  background-color: #00eb8f;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.navright ul li:nth-last-child(1):hover .green {
  transform: translate(0%);
  transition: transform 0.5s ease-in-out;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3vh;
}

.centerContent h1 {
  font-size: 5vw;
  font-weight: 500;
  position: relative;
}

.centerContent h1::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 20px;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  bottom: -5%;
  left: 0;
  transform: translate(120%, 0%);
}

.centerContent h4 {
  font-size: 2vw;
}

.image1 {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);

  &:hover {
    cursor: pointer;
    transform: translate(0, -60%);
  }
}

.image1 img {
  width: 100%;
}

.image2 {
  width: 20vw;
  position: absolute;
  top: 18%;
  right: 28%;
  z-index: -1;
}

.image2 img {
  width: 100%;
}

.image3 {
  width: 16vw;
  height: 35vh;
  object-fit: cover;
  position: absolute;
  top: 50%;
  right: 10%;
}

.image3 img {
  width: 100%;
  height: 100%;
}

.secondPage {
  width: 100%;
  height: 80%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.textContainer {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10vh;

  align-items: center;
  text-align: center;
}

.secondPage h4 {
  font-size: 1.5vw;
  font-weight: 500;
}

.secondPage h2 {
  font-size: 4vw;
  font-weight: 200;
  position: relative;
}

.secondPage h3 {
  font-size: 1.8vw;
}

.secondPage span {
  display: inline-block;
}

.secondPage span::after {
  content: "";
  width: 24%;
  height: 80px;
  background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
  position: absolute;
  top: 50;
  left: 50;
  transform: translate(-90%, -10%);
}

.thirdPage {
  width: 100%;
}

.leftContent {
  width: 50%;
  position: relative;
}

.image5 {
  width: 22%;
}

.image5 img {
  width: 100%;
}

.image6 {
  width: 55%;
  position: absolute;
  top: 0;
  left: 27%;
}

.image6 img {
  width: 100%;
}

.image7 {
  width: 22%;
  position: relative;
  top: 4%;
}

.image7 img {
  width: 100%;
}

.image8 {
  width: 60%;
  position: absolute;
  top: 40%;
  left: 27%;
}

.image8 img {
  width: 100%;
}
